<%- include('partials/header') %>

<div class="container mt-5">
  

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">


          <div class="card-body">
            <a class="btn btn-block btn-outline-primary btn-dark" href="/start" role="button">
              
              Start The Mail BOT
            </a>
          </div>

        </div>
      </div>
    </div>

  

  </div>
</div>

<%- include('partials/footer') %>
